.userdate_wrapper {
    width: 550px;
    height: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px #888888;
}

.change_email {
    width: 90%;
    margin: auto;
    padding: 15px;
    font-family: "Century Gothic";
    font-size: 18px;
    border-radius: 5px;
    border: 0;
}

.change_password{
    width: 90%;
    margin: auto;
    padding: 15px;
    font-family: "Century Gothic";
    font-size: 18px;
    border-radius: 5px;
    border: 0;

}

.change_email_btn{
    margin-top: 10px;
    background-color: forestgreen;
    padding: 15px;
    color: white;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: "Century Gothic";
    border: 0;
    border-radius: 5px;
}

.change_password_btn{
    margin-top: 10px;
    background-color: forestgreen;
    padding: 15px;
    color: white;
    width: 50%;
    text-align: center;
    font-size: 18px;
    font-family: "Century Gothic";
    border: 0;
    border-radius: 5px;

}