body {
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat fixed center;
    font-family: "Century Gothic";
    background-color: dimgray;
}

#main-wrapper {
    width: 550px;
    height: 60%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 5px 5px 5px #888888;


}

#avatarimg {
    width: 100px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.login_form {
    width: 450px;
    margin: 0 auto;
}


.inputvalues{
    width: 430px;
    margin-left: 8.5%;
    padding: 15px;
    font-family: "Century Gothic";
    font-size: 18px;
    border-radius: 5px;
    border: 0;

}

#signup_btn{
    margin-top: 10px;
    background-color: indianred;
    padding: 15px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: "Century Gothic";
    border: 0;
    border-radius: 5px;
}

label{
    margin-left: 8.5%;
}